include ../blocks/gallery/_gallery.pug
include ../blocks/wedo/_wedo.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./fonts/gothambold/font.css")
        link(rel="stylesheet", href="./fonts/GothamBook/font.css")
        link(rel="stylesheet", href="./fonts/Gotham Medium Regular/font.css")
        link(rel="stylesheet", type="text/css" href="./js/jquery.fancybox.min.css")
        link(link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous")
        
    body
        +wedo
        +gallery


<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.fancybox.min.js"></script>





    
