.icons {
    display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;

    &--home {
        width: 241px;
        height: 54px;
        color: #ffffff !important;
    }
}