mixin wedo
        .wedo
            .container.container--lg
                .row
                    .col-12
                        .wedo__heading
                            hr
                            h2 What we do
                .row
                    .col-7
                        .wedo__trade
                            img(src="./img/trade.jpg" alt="trade center")
                            .wedo__back1
                                img(src="./img/wedo__back1.png" alt="background1")
                    .col-5
                        .wedo__title
                            p One world
                            h2 Trade Center
                        .wedo__description
                            p Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                            a(href="#" class="wedo__button") More details
                        .wedo__description1
                            <i class="fas fa-map-marker-alt"></i>
                            p New York City, United States - 1776 feet
                .row
                    .col-5
                        .wedo__title1
                            p International
                            h2 Commerce Centre
                        .wedo__description
                            p Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
                            a(href="#" class="wedo__button") More details
                        .wedo__description2
                            <i class="fas fa-map-marker-alt"></i>
                            p Hong Kong - 1588 Feet
                    .col-7
                        .wedo__commerce
                             img(src="./img/wedo.jpg" alt="commerce center")
                             .wedo__back2
                                img(src="./img/wedo__back2.png" alt="background2")

