html {
    font-family: 'gothambold1';
    font-family: 'GothamBook';
    font-family: 'gotham_mediumregular';
    font-family: 'Open Sans', sans-serif;
    font-family: 'FontAwesome';
}

body {
    font-family: inherit;
    
}

.container--lg {
    max-width: 1200px;
}