mixin header
        .header
            .container.container--lg.pl-0.pr-0.ml-0.mr-0
                        .header__nav
                            .row
                                .col-3
                                    svg.icons.icons--home
                                        use(xlink:href="#logo")
                                .col-7
                                        ul.menu
                                            li About Us
                                            li Projects
                                            li News
                                            li Contact
                                .col-2
                                    .header__social
                                        a.links(href="#")
                                            <i class="fab fa-facebook-f"></i>
                                        a.links(href="#")
                                            <i class="fab fa-twitter"></i>
                                        a.links(href="#")
                                            <i class="fab fa-instagram"></i>
            .header__content.single-item
                .header__slider1
                    .header__description    
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider2
                    .header__description
                    h1 Nec retroque
                    p Cohortium casu casu
                .header__slider3
                    .header__description
                    h1 relictum iuventutis
                    p Recreati postquam sunt
                .header__slider4
                    .header__description
                    h1 concedentes quae
                    p Relictum vicos
                .header__slider5
                    .header__description
                    h1 cohortium planitie
                    p Propinquabant timor et
            
                        
