mixin header
        .header.single-item
            .header__nav
                .header__slider1
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                    svg.icons.icons--home
                        use(xlink:href="#logo") 
            .header__nav
                .header__slider2
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                    svg.icons.icons--home
                        use(xlink:href="#logo")
            .header__nav
                .header__slider3
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                    svg.icons.icons--home
                        use(xlink:href="#logo")
            .header__nav
                .header__slider4
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                    svg.icons.icons--home
                        use(xlink:href="#logo")
            .header__nav
                .header__slider5
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                    svg.icons.icons--home
                        use(xlink:href="#logo")
        .header__content
            .container.container--lg
                .row
                    .col-12
                        
