.header {
        
    &__slider1 {
    background-image: linear-gradient(45deg, rgba(85,183,255, 0.6) 0%, rgba(126,90,255, 0.6) 70%), url('../img/header__slider1.jpg');
    background-size: cover;
    
    z-index: 1;
    } 

    &__slider2 {
    background-image: linear-gradient(45deg, rgba(85,183,255, 0.6) 0%, rgba(126,90,255, 0.6) 70%), url('../img/header__slider2.jpg');
    background-size: cover;
        
    z-index: 1;
        }

    &__slider3 {
    background-image: linear-gradient(45deg, rgba(85,183,255, 0.6) 0%, rgba(126,90,255, 0.6) 70%), url('../img/header__slider3.jpg');
    background-size: cover;
            
    z-index: 1;
            }

    &__slider4 {
    background-image: linear-gradient(45deg, rgba(85,183,255, 0.6) 0%, rgba(126,90,255, 0.6) 70%), url('../img/header__slider4.jpg');
    background-size: cover;
                
    z-index: 1;
                }

    &__slider5 {
    background-image: linear-gradient(45deg, rgba(85,183,255, 0.6) 0%, rgba(126,90,255, 0.6) 70%), url('../img/header__slider5.jpg');
    background-size: cover;
                    
    z-index: 1;
                    }
    






    h1 {
        color: white;
        font-family: 'gothambold1';
        font-size: 80px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 40px;
        text-align: center;
        padding-top: 269px;
        position: absolute;
    }

    p {
        color: white;
        font-family: 'GothamBook';
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        text-transform: uppercase;
        text-align: center;
    }

    .gradient {
        position: relative;
        display: inline-block;
        
    }
    .gradient:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: inline-block;
        background-color: #4b4b4b;
        background-image: linear-gradient(45deg, rgba(85,183,255, 1) 0%, rgba(126,90,255, 1) 100%);
    }

    


    &__menu li {
        color: white;
        font-family: 'GothamBook';
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-transform: uppercase;
    }
   

}



// background-color: #4b4b4b;
// background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
// 