mixin header
        .header
            .container.container--lg.pl-0
                .row
                    .col-12
                        .header__slider.gradient
                            img(src="./img/header__slider1.jpg" alt="slider1")
