mixin header
        .header
            .header__content.single-item
                .header__slider1.gradient
                    img(src="./img/header__slider1.jpg" alt="slider1")
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider2.gradient
                    img(src="./img/header__slider2.jpg" alt="slider2")
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider3.gradient
                    img(src="./img/header__slider3.jpg" alt="slider3")
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider4.gradient
                    img(src="./img/header__slider4.jpg" alt="slider4")
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider5.gradient
                    img(src="./img/header__slider5.jpg" alt="slider5")
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
            .container.container--lg
                .row
                    .col-12
                        
