mixin header
        .header.ml-0
            .container.container--lg.pl-0.ml-0
                .row
                    .col-12.pr-0.pl-0
                        .header__slider.gradient
                            img(src="./img/header__slider1.jpg" alt="slider1")
