mixin header
        .header
            .header__content.single-item
                .header__slider1
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                        .header__menu
                            ul
                                li About Us
                                li Projects
                                li News
                                li Contact
                    .header__description    
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider2
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                        .header__menu
                            ul
                                li About Us
                                li Projects
                                li News
                                li Contact
                    .header__description
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider3
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                        .header__menu
                            ul
                                li About Us
                                li Projects
                                li News
                                li Contact
                    .header__description
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider4
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                        .header__menu
                            ul
                                li About Us
                                li Projects
                                li News
                                li Contact
                    .header__description
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
                .header__slider5
                    .header__nav
                    svg.icons.icons--home
                        use(xlink:href="#logo")
                        .header__menu
                            ul
                                li About Us
                                li Projects
                                li News
                                li Contact
                    .header__description
                    h1 Simple & Mordern
                    p We make the world's beautiful every day
            .container.container--lg
                .row
                    .col-12
                        
